.content {
	width: 290px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.footer {
	position: absolute;
	bottom: 24px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	&--text {
		text-align: center;
		font-size: 11px;
		font-weight: bold;
	}
	&--logo {
		width: 24px;
		height: 24px;
	}
	&--link {
		text-decoration: none;
	}
}