// colors
$red: #EB5757;
$red-hover: #C14444;
$orange: #F2994A;
$orange-hover: #C37E40;
$green: #27AE60;
$green-hover: #42A06A;
$blue: #2F80ED;
$blue-hover: #3872C1;
$dark: #171f24;
$dark-hover: #060e13;
$outline-color: #4F4F4F;
$button-shadow: rgba(0, 0, 0, .25);

$white: #FFFFFF;
$white-hover: #E0E0E0;
$primary: #2F80ED;
$primary-hover: #3B7ACE;
$grey: #BDBDBD;
$grey-hover: #ACACAC;